<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378068072949-sjpcnesmfjou55cv6srvlgucc0o1unbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378068072949-sjpcnesmfjou55cv6srvlgucc0o1unbc</string>
	<key>API_KEY</key>
	<string>AIzaSyDwLWbUwecrqutAdHPDxhe48JGI8jHDDTU</string>
	<key>GCM_SENDER_ID</key>
	<string>378068072949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtSchedulingApp</string>
	<key>PROJECT_ID</key>
	<string>gt-scheduling-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gt-scheduling-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378068072949:ios:e0fb52a858a59111cc88bc</string>
	<key>DATABASE_URL</key>
	<string>https://gt-scheduling-app.firebaseio.com</string>
</dict>
</plist>